{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="{%static './public/images/logo.svg'%}"
      sizes="16x16"
      type="image/x-icon"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{%static 'plugins/bootstrap/css/bootstrap.min.css' %}"
    />
    <!-- FontAwesome CSS -->
    <link
      rel="stylesheet"
      href="{% static 'plugins/fontawesome/css/all.min.css' %}"
    />
    <!-- Utilities CSS -->
    <link rel="stylesheet" href="{% static 'public/css/utilities.css' %}" />
    <!-- External CSS -->
    <link rel="stylesheet" href="{% static 'public/css/style.css' %}" />
  </head>
  <body>
    <!-- Navbar -->
    <header>{% include 'components/navbar.html' %}</header>

    <!-- Content Block -->
    <main>{% block content %} {% endblock %}</main>

    <!-- Script Block -->
    {% block scripts %} {% endblock %}
    <!-- Footer -->
    <footer>{% include "components/footer.html" %}</footer>

    <!-- jQuery Js -->
    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- FontAwesome JS -->
    <script src="{% static 'plugins/fontawesome/js/all.min.js' %}"></script>
  </body>
</html>
