/**
 *
 * ReadBook App
 *
 * @{@code style.css} has been created to handle 
 *           the styling.
 *
 * @author Arunkumar
 *
 */
/* Font  */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap");

/* Colors */
:root {
  --white: #ffffff;
  --gray-tone: #f0f1f5;
  --white-tint: #efeee9;
  --yellow: #ffc107;
  --alice-blue: #ebf3ff;
  --blue: #086bd9;
  --deep-orange: #f97316;
  --orange: #fd7e14;
  --orange-yellow: #ffb013;
  --light-orange: #ff8c42;
  --indigo: #6610f2;
  --info: #04c7e0;
  --purple: #6f42c1;
  --violet: #542344;
  --red: #dc2626;
  --dark-red: #d10000;
  --rose: #fb7185;
  --light-red: #fef2f2;
  --pink: #f11a7b;
  --green: #28a745;
  --lime: #bef264;
  --teal: #20c997;
  --dark-green: #023618;
  --brown: #813405;
  --silver: #a2a2a2;
  --gray: #9ca3af;
  --slate: #1e293b;
  --black: #222222;
  --breakpoint-xss: 0;
  --breakpoint-xs: 400px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xll: 1500px;
  --font-family-sans-serif: "Nunito Sans", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  font-family: var(--font-family-sans-serif);
  overflow-x: hidden;
  min-height: 100vh;
}
/* Navigation Bar */
.navbar-brand img {
  height: 1.875rem;
}
.navbar-nav .nav-item .nav-link {
  padding: 1.2rem;
  color: var(--black);
  font-size: 1rem;
}
.navbar-nav .nav-item .nav-link:hover {
  color: var(--dark-red);
}
.navbar-nav .nav-item .active {
  color: var(--dark-red);
  border-bottom: 4px solid var(--dark-red);
}
.navbar-nav .btn-signin {
  border: 1px solid var(--black);
  color: var(--black);
  font-weight: 600;
  transition: 0.3s;
}
.navbar-nav .btn-signin:hover {
  background: var(--dark-red);
  color: var(--white);
  border: 1px solid var(--dark-red);
}
.navbar-nav .btn-signup {
  background: var(--dark-red);
  color: var(--white);
  font-weight: 600;
  transition: 0.3s;
}
.navbar-nav .btn-signup:hover {
  background: var(--black);
}
@media (max-width: 991.98px) {
  .navbar {
    padding: 1.5rem;
  }
  .navbar-toggler {
    padding: 1.2rem;
  }
  .navbar-nav .nav-item .active {
    color: var(--white);
    background: var(--black);
    border: none;
  }
  .navbar-nav .btn {
    width: 150px;
    margin-bottom: 0.625rem;
  }
}
/* End Navigation Bar */
/* Carousel */
.custom-carousel {
  margin-top: 60px;
}
.carousel-item img {
  object-fit: fill;
  object-position: top;
  height: 50vh;
  overflow: hidden;
}
/* End Carousel */
/* Genre */
.genre-content {
  margin-top: 70px;
}
.genre-content__heading {
  color: var(--dark-red);
  font-weight: 700;
}
.genre-card {
  width: 18rem;
  min-height: 24rem;
}
.genre-card__img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}
.genre-card__btn--primary {
  background: var(--dark-red);
  color: var(--white);
  font-weight: 600;
  transition: 0.3s;
}
.genre-card__btn--primary:hover {
  background: var(--black);
}
/* End Genre */
/* Book List */
.book-card {
  width: 18rem;
  min-height: 28rem;
}
.book-card__img {
  width: 100%;
  height: 300px;
  object-fit: fill;
}

/* End Book List  */
