<div class="header">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-light m-0 p-0">
    <div class="container-fluid col-12 col-sm-11 mx-auto">
      <a class="navbar-brand" href="#">
        <img src="static/public/images/readbooklogo.svg" alt="Read Book Logo" />
      </a>
      <button
        class="navbar-toggler shadow-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="fas fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active text-uppercase"
              aria-current="page"
              href="#"
              >Home</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link text-uppercase dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Genre
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="#">Articles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="#">Cart</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <button class="btn btn-signin me-2" type="submit">SIGN IN</button>
          <button class="btn btn-signup" type="submit">SIGN UP</button>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->
</div>
