{% extends 'base.html' %} {% load static %}
<!-- Title Content -->
{% block title %} ReadBook App {% endblock %}
<!-- Block Content -->
{%block content %}
<!-- Book Genre-->
<section class="py-4 my-5">
  <div class="container">
    <div class="row">
      <div class="col-12 genre-content">
        <h4 class="my-3 fs-4 genre-content__heading">{{name}}</h4>
        <hr />
      </div>
      <!-- Book List Items -->
      {% for bookProduct in booksProduct %}
      <div class="col-lg-3 col-md-4 justify-content-center">
        <div class="card my-3 shadow book-card">
          <img
            src="{{bookProduct.bookImage.url}}"
            class="card-image-top text-center mx-auto book-card__img"
            alt="Book Image"
          />
          <div class="card-body book-card__body">
            <h5 class="card-title">{{bookProduct.bookName}}</h5>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
