{% extends 'base.html' %} {% load static %}
<!-- Title Content -->
{% block title %} ReadBook App | {{books}}{% endblock %}
<!-- Block Content -->
{%block content %}
<!-- Book Genre-->
<section class="py-4 my-5 book-detail">
  <div class="container">
    <div
      class="col-12 mx-auto mb-5 py-2 bg-light shadow-sm book-details__breadcrumb"
    >
      <nav class="mx-3" aria-label="breadcrumb">
        <ol class="breadcrumb mx-3 my-3">
          <li class="breadcrumb-item">
            <a href="{% url 'genre' %}">Genre</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'genre' books.genre %}">{{books.genre}}</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">{{books}}</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-4 my-3">
        <div class="mx-auto book-details-img">
          <img
            src="{{books.bookImage.url}}"
            class="card-image-top text-center mx-auto book-card__img"
            alt="{{books}} image"
          />
        </div>
      </div>
      <!-- Book Details -->
      <div class="col-8">
        <div class="col-12">
          {% if books.bestSeller %}<span class="badge bg-warning text-dark p-2"
            >Best Seller</span
          >{% endif %}

          <h4 class="mt-2 mb-0 fs-3 fw-bold book-details-data__heading">
            {{books}}
          </h4>
          <div class="d-flex my-2 book-details-data">
            <p class="me-3">
              by &nbsp;<span class="book-details-data__authorname"
                >{{books.authorName}}</span
              >&nbsp;(Author)
            </p>
            <p>
              <i class="fas fa-newspaper fa-fw me-1"></i
              ><span>{{books.publicationName}}</span>
            </p>
          </div>
          <hr class="mt-1" />
        </div>
        <p>{{books.bookDecription}}</p>
        <div class="d-flex align-items-baseline">
          <h5 class="fs-2 me-2 book-data__pricing--discount">
            &#8377; {{books.discountPrice | stringformat:'d'}}
          </h5>
          <h6 class="fs-4 book-data__pricing--original">
            &#8377; {{books.sellingPrice | stringformat:'d'}}
          </h6>
        </div>

        <div class="my-3">
          {% if books.quantity > 0 %}
          <input type="hidden" value="{{books.id}}" id="pid" />
          <div class="input-group mb-4 product-qty__section--group">
            <button
              id="btnMinus"
              class="input-group-text text-white product-qty__btn--primary px-1"
            >
              <i class="fas fa-minus fa-fw"></i>
            </button>
            <input
              type="text"
              id="txtQty"
              value="1"
              name="qty"
              class="form-control text-center shadow-none"
            />
            <button
              id="btnPlus"
              class="input-group-text text-white product-qty__btn--primary px-1"
            >
              <i class="fas fa-plus fa-fw"></i>
            </button>
          </div>
        </div>
        <button type="button" class="btn btn-primary" id="btnCart">
          Add Cart
        </button>
        {% else %}
        <button type="button" class="btn btn-secondary">Out of Stock</button>
        {% endif %} {% if books.quantity %}<button
          type="button"
          class="btn btn-success text-white"
        >
          Buy Now
        </button>
        {% else %}
        <button type="button" class="btn btn-success text-white" disabled>
          Buy Now
        </button>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<script>
  // Quantity Increment and Decrement
  document.addEventListener("DOMContentLoaded", function (event) {
    const decreaseBtn = document.getElementById("btnMinus");
    const increaseBtn = document.getElementById("btnPlus");
    const txtQty = document.getElementById("txtQty");
    const pid = document.getElementById("pid");
    const btnCart = document.getElementById("btnCart");

    // Inccrement and Decrement buttons
    increaseBtn.addEventListener("click", function () {
      let count = parseInt(txtQty.value, 10);
      count = isNaN(count) ? 0 : count;
      if (count < 10) {
        count++;
        txtQty.value = count;
      }
    });

    decreaseBtn.addEventListener("click", function () {
      let count = parseInt(txtQty.value, 10);
      count = isNaN(count) ? 0 : count;
      if (count > 0) {
        count--;
        txtQty.value = count;
      }
    });

    btnCart.addEventListener("click", function () {
      let qty = parseInt(txtQty.value, 10);
      qty = isNaN(qty) ? 0 : qty;

      if (qty > 0) {
        let postObj = {
          product_qty: qty,
          pid: pid.value,
        };
        //console.log(postObj);
        fetch("/addtocart", {
          method: "POST",
          credentials: "same-origin",
          headers: {
            Accept: "application/json",
            "X-Requested-With": "XMLHttpRequest",
            "X-CSRFToken": "{{ csrf_token }}",
          },
          body: JSON.stringify(postObj),
        })
          .then((response) => {
            return response.json();
          })
          .then((data) => {
            alert(data["status"]);
          });
      } else {
        alert("Please Enter The Quantity");
      }
    });
  });
</script>

{% endblock %}
