{% extends 'base.html' %} {% load static %}
<!-- Title Content -->
{% block title %} ReadBook App | {{genre_name}}{% endblock %}
<!-- Block Content -->
{%block content %}
<!-- Book Genre-->
<section class="py-4 my-5">
  <div class="container">
    <div
      class="col-12 mt-5 mx-auto py-2 bg-light shadow-sm book-details__breadcrumb"
    >
      <nav class="mx-3" aria-label="breadcrumb">
        <ol class="breadcrumb mx-3 my-3">
          <li class="breadcrumb-item">
            <a href="{% url 'genre' %}">Genre</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            {{genre_name}}
          </li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-12 mt-5 genre-content">
        <h4 class="fs-4 genre-content__heading">{{genre_name}}</h4>
        <hr />
      </div>
      <!-- Book List Items -->
      {% for bookProduct in booksProduct %}
      <div class="col-lg-3 col-md-4 justify-content-center card-section">
        <a
          href="{% url 'book-details' bookProduct.genre bookProduct.bookName %}"
          class="card-section__link"
        >
          <div class="col">
            <div class="card my-3 shadow book-card">
              <img
                src="{{bookProduct.bookImage.url}}"
                class="card-img-top mx-auto my-4 book-card__img"
                alt="{{bookProduct.bookName}} Image"
              />
              <div class="card-body border border-top book-card__body">
                {% if bookProduct.bestSeller %}<span
                  class="badge bg-warning text-dark p-2"
                  >Best Seller</span
                >{% endif %}
                <h5 class="card-title mt-2 book-card__title">
                  {{bookProduct.bookName}}
                </h5>
                <p class="card-text book-card__description">
                  {{bookProduct.bookDecription}}
                </p>
                <div class="d-flex align-items-baseline book-card__text">
                  <h5 class="fs-2 me-2 book-data__pricing--discount">
                    &#8377; {{bookProduct.discountPrice | stringformat:'d'}}
                  </h5>
                  <h6 class="fs-5 book-data__pricing--original">
                    &#8377; {{bookProduct.sellingPrice | stringformat:'d'}}
                  </h6>
                </div>
              </div>
            </div>
          </div>
          
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
