{% extends 'base.html' %} {% load static %}
<!-- Title Content -->
{% block title %} ReadBook App | Cart{% endblock %}
<!-- Block Content -->
{%block content %} {% include "components/message.html" %}
<!-- Book Genre-->
<section class="py-4 my-5 book-detail">
  <div class="container mb-5">
    <div
      class="col-12 mx-auto mb-4 py-2 bg-light shadow-sm book-details__breadcrumb"
    >
      <nav class="mx-3" aria-label="breadcrumb">
        <ol class="breadcrumb mx-3 my-3">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Cart</li>
        </ol>
      </nav>
    </div>
    <h4 class="card-title mt-4 mx-3">Shopping Cart</h4>
    <hr class="mx-3 my-1" />
  </div>

  <div class="container mt-4">
    <div class="row">
      <div class="col-7 my-1">
        <div class="card border-0">
          {% for item in cart%}
          <div class="card shadow m-2">
            <div class="card-body d-flex">
              <div class="col-1">
                <img
                  src="{{item.books.bookImage.url}}"
                  class="card-image-top text-center mx-auto book-cart__img"
                  alt="{{item..books.bookName}} image"
                />
              </div>

              <div class="col-8 cart-details ps-3">
                <h4 class="fw-bold cart-book__name">{{item.books.bookName}}</h4>
                <p class="fs-5 mb-1">
                  Price:&nbsp;<span class="fw-bold"
                    >&#8377;&nbsp;{{item.books.discountPrice|stringformat:"d"}}</span
                  >
                </p>
                <p class="fs-5 mb-1">
                  Quantity:&nbsp;<span class="fw-bold"
                    >{{item.books_qty }}</span
                  >
                </p>
              </div>
              <div class="col-3 d-flex flex-column align-items-start">
                <h4 class="ms-auto cart-product-total">
                  &#8377;&nbsp;{{item.total_price | stringformat:'d'}}
                </h4>
                <div class="call-to-action d-flex mt-auto ms-auto">
                  <a
                    href="{% url 'cart-remove-book' item.id %}"
                    onclick="return confirm('Are you certain you want to delete this book?')"
                    class="btn btn-sm cart-delete__btn text-white fw-bold"
                  >
                    <i class="fas fa-trash fa-fw text-white me-1"></i>Remove
                  </a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-5 my-2">
        <div class="card">
          <div class="d-flex justify-content-between">
            <h3 class="fs-4 mt-3 mx-4">Summary</h3>
          </div>

          <hr class="mt-1 mb-3 mx-4" />
          {% for item in cart %}
          <div class="table-responsive mx-4">
            <table class="table table-fixed text-wrap">
              <tbody>
                <tr>
                  <td style="width: 200px">{{item.books.bookName}}</td>
                  <td style="width: 45px" class="text-center">
                    {{item.books_qty}}
                  </td>
                  <td style="width: 75px" class="text-end amt">
                    {{item.total_price | stringformat:'d'}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          {% endfor %}
          <div class="d-flex justify-content-end bg-light fw-bold mx-4 mb-4">
            <h3 class="fs-4 my-3 mx-4 fw-bold">Total</h3>
            <h3 class="fs-4 my-3 mx-2 fw-bold" id="total">Total</h3>
          </div>
          <div class="pay-button ms-auto">
            <button class="btn btn-outline-dark mx-1 mb-4 fw-bold">
              Cancel
            </button>
            <button class="btn btn-success ms-1 me-4 mb-4 fw-bold">
              Pay Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  // Total Function
  const amount = document.querySelectorAll(".amt");
  const arr = Array.from(amount);
  const fullAmount = arr.reduce((acc, curr) => {
    return (acc += Number(curr.textContent));
  }, 0);
  let total = (document.getElementById("total").innerHTML =
    "&#8377;&nbsp;" + fullAmount);
</script>
{% endblock %}
